<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_MYwfMBzjEeeGHYEPQCviAg" specification="interface peripheral:&#xA;&#xA;&#x9;in event start_condition&#xA;&#xA;interface driver:&#xA;&#xA;&#x9;in event address_unknown&#xA;&#x9;" name="smbus_peripheral">
    <regions xmi:id="_MZQ1gBzjEeeGHYEPQCviAg" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_MZwkwBzjEeeGHYEPQCviAg">
        <outgoingTransitions xmi:id="_MZ4gkBzjEeeGHYEPQCviAg" target="_MZyZ8BzjEeeGHYEPQCviAg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_MZyZ8BzjEeeGHYEPQCviAg" name="idle" incomingTransitions="_MZ4gkBzjEeeGHYEPQCviAg">
        <outgoingTransitions xmi:id="_WZwqEBzjEeeGHYEPQCviAg" specification="peripheral.start_condition" target="_TrwLsBzjEeeGHYEPQCviAg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_TrwLsBzjEeeGHYEPQCviAg" name="address_mode" incomingTransitions="_WZwqEBzjEeeGHYEPQCviAg">
        <outgoingTransitions xmi:id="_0jQ0QBzjEeeGHYEPQCviAg" specification="driver.address_unknown" target="_suU4UBzjEeeGHYEPQCviAg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_suU4UBzjEeeGHYEPQCviAg" name="unknown_address_recieved" incomingTransitions="_0jQ0QBzjEeeGHYEPQCviAg"/>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_MZQOcBzjEeeGHYEPQCviAg" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_MYwfMBzjEeeGHYEPQCviAg" measurementUnit="Pixel">
    <children xmi:id="_MZXjMBzjEeeGHYEPQCviAg" type="Region" element="_MZQ1gBzjEeeGHYEPQCviAg">
      <children xsi:type="notation:DecorationNode" xmi:id="_MZuIgBzjEeeGHYEPQCviAg" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_MZuIgRzjEeeGHYEPQCviAg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_MZuIghzjEeeGHYEPQCviAg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_MZvWoBzjEeeGHYEPQCviAg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_MZxL0BzjEeeGHYEPQCviAg" type="Entry" element="_MZwkwBzjEeeGHYEPQCviAg">
          <children xmi:id="_MZxy4BzjEeeGHYEPQCviAg" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_MZxy4xzjEeeGHYEPQCviAg" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_MZxy5BzjEeeGHYEPQCviAg"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_MZxy5RzjEeeGHYEPQCviAg"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_MZxy4RzjEeeGHYEPQCviAg" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MZxy4hzjEeeGHYEPQCviAg"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_MZxL0RzjEeeGHYEPQCviAg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_MZxL0hzjEeeGHYEPQCviAg" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MZxy5hzjEeeGHYEPQCviAg" x="70" y="20"/>
        </children>
        <children xmi:id="_MZ02MRzjEeeGHYEPQCviAg" type="State" element="_MZyZ8BzjEeeGHYEPQCviAg">
          <children xsi:type="notation:DecorationNode" xmi:id="_MZ1dQBzjEeeGHYEPQCviAg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_MZ1dQRzjEeeGHYEPQCviAg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_MZ1dQhzjEeeGHYEPQCviAg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_MZ2rYBzjEeeGHYEPQCviAg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_MZ2rYRzjEeeGHYEPQCviAg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MZ2rYhzjEeeGHYEPQCviAg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_MZ3ScBzjEeeGHYEPQCviAg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_MZ02MhzjEeeGHYEPQCviAg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_MZ02MxzjEeeGHYEPQCviAg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_MZ35gBzjEeeGHYEPQCviAg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MZ35gRzjEeeGHYEPQCviAg" x="60" y="73"/>
        </children>
        <children xmi:id="_TryA4BzjEeeGHYEPQCviAg" type="State" element="_TrwLsBzjEeeGHYEPQCviAg">
          <children xsi:type="notation:DecorationNode" xmi:id="_TryA5BzjEeeGHYEPQCviAg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_TryA5RzjEeeGHYEPQCviAg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_TryA5hzjEeeGHYEPQCviAg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_TryA5xzjEeeGHYEPQCviAg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_Tryn8BzjEeeGHYEPQCviAg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Tryn8RzjEeeGHYEPQCviAg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Tryn8hzjEeeGHYEPQCviAg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_TryA4RzjEeeGHYEPQCviAg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_TryA4hzjEeeGHYEPQCviAg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_Tryn8xzjEeeGHYEPQCviAg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_TryA4xzjEeeGHYEPQCviAg" x="37" y="199"/>
        </children>
        <children xmi:id="_suWGcBzjEeeGHYEPQCviAg" type="State" element="_suU4UBzjEeeGHYEPQCviAg">
          <children xsi:type="notation:DecorationNode" xmi:id="_suWGdBzjEeeGHYEPQCviAg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_suWGdRzjEeeGHYEPQCviAg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_suWGdhzjEeeGHYEPQCviAg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_suWtgBzjEeeGHYEPQCviAg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_suWtgRzjEeeGHYEPQCviAg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_suWtghzjEeeGHYEPQCviAg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_suWtgxzjEeeGHYEPQCviAg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_suWGcRzjEeeGHYEPQCviAg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_suWGchzjEeeGHYEPQCviAg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_suWthBzjEeeGHYEPQCviAg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_suWGcxzjEeeGHYEPQCviAg" x="282" y="199"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MZvWoRzjEeeGHYEPQCviAg"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_MZXjMRzjEeeGHYEPQCviAg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MZv9sBzjEeeGHYEPQCviAg" x="220" y="10" width="942" height="882"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_MZ_OQxzjEeeGHYEPQCviAg" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_MZ_1UBzjEeeGHYEPQCviAg" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_MZ_1URzjEeeGHYEPQCviAg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_MZ_1UhzjEeeGHYEPQCviAg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_MZ_1UxzjEeeGHYEPQCviAg" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MZ_1VBzjEeeGHYEPQCviAg"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MZ_1VRzjEeeGHYEPQCviAg" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_MZQOcRzjEeeGHYEPQCviAg"/>
    <edges xmi:id="_MZ-nMBzjEeeGHYEPQCviAg" type="Transition" element="_MZ4gkBzjEeeGHYEPQCviAg" source="_MZxL0BzjEeeGHYEPQCviAg" target="_MZ02MRzjEeeGHYEPQCviAg">
      <children xsi:type="notation:DecorationNode" xmi:id="_MZ_OQBzjEeeGHYEPQCviAg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_MZ_OQRzjEeeGHYEPQCviAg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_MZ_OQhzjEeeGHYEPQCviAg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_MZ-nMRzjEeeGHYEPQCviAg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_MZ-nMxzjEeeGHYEPQCviAg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_MZ-nMhzjEeeGHYEPQCviAg" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_WZyfQBzjEeeGHYEPQCviAg" type="Transition" element="_WZwqEBzjEeeGHYEPQCviAg" source="_MZ02MRzjEeeGHYEPQCviAg" target="_TryA4BzjEeeGHYEPQCviAg">
      <children xsi:type="notation:DecorationNode" xmi:id="_WZyfRBzjEeeGHYEPQCviAg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_WZyfRRzjEeeGHYEPQCviAg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_WZyfRhzjEeeGHYEPQCviAg" x="-27" y="-63"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_WZyfQRzjEeeGHYEPQCviAg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_WZyfQxzjEeeGHYEPQCviAg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_WZyfQhzjEeeGHYEPQCviAg" points="[3, 24, 3, -85]$[3, 102, 3, -7]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WZ1ikBzjEeeGHYEPQCviAg" id="(0.5,0.1509433962264151)"/>
    </edges>
    <edges xmi:id="_0jSCYBzjEeeGHYEPQCviAg" type="Transition" element="_0jQ0QBzjEeeGHYEPQCviAg" source="_TryA4BzjEeeGHYEPQCviAg" target="_suWGcBzjEeeGHYEPQCviAg">
      <children xsi:type="notation:DecorationNode" xmi:id="_0jSCZBzjEeeGHYEPQCviAg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_0jSCZRzjEeeGHYEPQCviAg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_0jSCZhzjEeeGHYEPQCviAg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_0jSCYRzjEeeGHYEPQCviAg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_0jSCYxzjEeeGHYEPQCviAg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_0jSCYhzjEeeGHYEPQCviAg" points="[0, -3, -103, 3]$[104, 16, 1, 22]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_0jTQgBzjEeeGHYEPQCviAg" id="(1.0,0.6792452830188679)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_0jTQgRzjEeeGHYEPQCviAg" id="(0.019867549668874173,0.5471698113207547)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
